.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.counter {
  margin-top: 10px;
}

.counter > .display {
  font-size: 60px;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
